mat-elevation-z8{
    width: 100%;
}

table {
    width: 100%;
}

#favorites{
    margin: 40px;
}

.temp:after{
    content:"°";
}

.noFavorite{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    
}


  


  
